.DS_Store
.idea
.phpintel/
DBOOPHP/composer.lock
DBOOPHP/vendor/
middleware/composer.lock
middleware/vendor/
mngphp/composer.lock
mngphp/vendor/
slim-api/composer.lock
slim-api/vendor/
whitegold-app/composer.lock
whitegold-app/vendor/
mini/composer.lock
mini/vendor/
auth/.env
auth/composer.lock
auth/vendor/
